/*自定义*/
#left-menu{
    background-color: #233646;
    font-size:13px;
}
.person-info {
    padding: 10% 20% 0 20%;
    color: white;
    text-align: center;
}
.menu-list a {

    color: #91949d;

}
.person-info img{
    border-radius: 50%;
}
.mui-table-view.menu-list,.menu-list .mui-table-view-cell{
    background-color: #233646;
    color: #91949d;
}
/*高亮选择的颜色*/
.menu-list .mui-table-view-cell.mui-active{
    /* background-color: #1b222a; */
    color: white;
}
.menu-list .mui-table-view-cell.active>a.mui-navigate-right{
    background-color: #1b222a;
    color: white;
}
.menu-list .mui-table-view-cell > a:not(.mui-btn).mui-active{
    background-color: #233646;
    color: white;
}
.menu-list .mui-table-view-cell.active{
    background-color: #1b222a;
    color: white;
}
.menu-list .mui-table-view-cell > a:not(.mui-btn).active{
    background-color: #1b222a;
    color: white;
}
/*取消默认列表里的横线*/
.menu-list.mui-table-view:before{
    height: 0;
}
.menu-list .mui-table-view-cell:after{
    height: 0;
}
.menu-list.mui-table-view:after{
    height: 0;
}
.menu-list .mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell:after{
    height: 0;
}



/*二级菜单*/

 .menu-list .l-2 li{
    border-left: 4px solid #19aa8d;
}

/*设置侧拉栏目的宽度*/
#left-menu{
    width: 50%;
}
